@mixin font-styles($font-family, $font-size, $line-height) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin static-width-img($width,$height){
  width: $width;
  height: $height;
}
@mixin box-shadow {
  box-shadow: 1px 2px 17px 4px rgba(204, 214, 217, 0.6);
  -moz-box-shadow: 1px 2px 17px 4px rgba(204, 214, 217, 0.6);
  -webkit-box-shadow: 1px 2px 17px 4px rgba(204, 214, 217, 0.6);
}

@mixin article-links-style($color) {
  color: $color;
  font-weight: $font-weight-bold;
}

@mixin background-properties($url) {
  background: $url;
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  background-size:cover;
}

@mixin background-color-atop($rgba,$padding-top-bottom){
  background-color: $rgba;
  width: 100%;
  height: 100%;
  padding: $padding-top-bottom;
}

@mixin scale{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition-timing-function: ease-out;
  cursor: pointer;
}